<?xml version="1.0"?>

<model>
  <name>Terrain Patches</name>
  <version>1.0</version>
  <sdf version="1.0">sdf/model.sdf</sdf>

  <author>
    <name>Adam Gronewold</name>
    <email>Adam.M.Gronewold.TH@Dartmouth.edu</email>
  </author>

  <description>
    A model of a terrain with blocks of differing friction coefficients joined together.
  </description>
</model>
